<div class="ui-g" [formGroup]="formGroup">
    <div class="ui-g-12">
        <app-panel #panel></app-panel>
    </div>
    
    <div class="ui-g-12">
        <p-calendar formControlName="calendarForaPanel"></p-calendar>
    </div>
    
    <div class="ui-g-12">
        <button type="button" pButton label="Validate" class="ui-button-danger"
                (click)="validate()"></button>
    
        <button type="button" pButton label="Add Validations" class="ui-button-success"
                (click)="addValidations()"></button>
    
        <button type="button" pButton label="Remove Validations" class="ui-button-danger"
                (click)="removeValidations()"></button>
    </div>
</div>
        


